*{
    font-family: 'EB Garamond', serif;
    font-size: 40px;

}
body{
    background-image:url(https://png.pngtree.com/background/20210712/original/pngtree-modern-double-color-futuristic-neon-background-picture-image_1181573.jpg);
    background-size: cover;
    color: #fff;
}