*{
    font-family: 'EB Garamond', serif;
    font-size: 50px;
}
body {
background-image: url(https://imgs.search.brave.com/bmITZrGWE64gVlo-G2CequFIhSIdM5E0UlMrHWu5Vk8/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9jZG4u/d2FsbHBhcGVyc2Fm/YXJpLmNvbS82LzM2/L1h4T2VGaC5qcGc);
background-size: cover;
color: #fff;
}