*{
    background-image: url(https://imgs.search.brave.com/1zqI1K6nTuOXFwlCT-9ZLr9BC2jO-MYYjANHDzIIpKU/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC93cDM0OTk3/MDAuanBn);
    color: #fff;
    background-size: cover;
}
b{
    background-color: #fff;
    color: #000;
}