*{
    background-image: url(https://imgs.search.brave.com/ezHlnt-y9pC0nlQr6VqkuCLXwSTnfuWoQIf5J9IZtXM/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJhY2Nlc3Mu/Y29tL2Z1bGwvMTU2/NDM5Mi5qcGc);
    color: #fff;
    background-size: cover;
}
b{
    background-color: #fff;
    color: #000;
}